pat.txt
client/minimal-debs-hard-copy/
server/min-debs-hard-copy/

*.gz
*.deb
*.tar
ubuntu-base-image/
download-repo-output/
scripts/git_push_with_pat.sh
scripts/configure_samba.sh
scripts/create_samba_user.sh
scripts/restart_services.sh
config/
tests/
shares/
